@media (min-width:992px) and (max-width: 1199px) {
    .form1 {
        padding: 19px 29px 16px 26px;
    }
    .form2 {
        padding: 0 29px 16px 26px;
    }
<<<<<<< HEAD
    .form3 {
        padding: 0 29px 16px 26px;
    }
    .form4 {
        padding: 0 29px 16px 26px;
=======
    .btn1 {
        padding-left: 23%;
         display: inline;
>>>>>>> origin/gh-pages
    }
    .form5 {
        padding: 0 29px 54px 28px;
    }
    .bucket {
        right: -18%;
    }
    /**********new***********/
    .logo_pad {
        padding: 0 8px;
    }
    .logo_contact {
        padding-right: 16px;
    }
    .btn1 > input {
        padding-left: 134px;
    }
    .white_pad {
        padding: 0 7px;
    }
    .pad_void {
        padding: 0;
        width: 58%;
    }
    .col-sm-6.pad_void2 {
        width: 42%;
    }
    .bg_txt > img {
        right: 27%;
    }
    .col-md-12.crn_pad {
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
    }
    .container.crn_padd {
        padding: 0 5px;
    }
    .copy_pad {
        padding: 0;
    }
    .footer_pad {
        padding: 0;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .slicknav_menu {
        display: none;
    }
    .logo_pad {
        padding: 0 12px;
    }
    .logo_img > img {
        width: 75%;
    }
    .logo_img {
        padding-right: 0;
        padding-bottom: 13px;
    }
    .logo_txt > h3 {
        font-size: 28.46px;
        margin-bottom: 4px;
    }
    .logo_txt > h5 {
        color: #2c2c2c;
        font-family: Roboto Slab;
        font-size: 16.08px;
        margin-bottom: 4px;
        margin-top: 0;
    }
    .logo_contact {
        padding-right: 22px;
    }
    .logo_txt > p {
        font-size: 12px;
        margin-bottom: 0;
    }
    .logo_contact > h1 {
        font-size: 33px;
    }
    .logo_contact > h6 {
        font-size: 16px;
        margin-top: 16px;
    }
    .bg_txt > h1 {
        font-size: 24px;
    }
    .bg_txt > h3 {
        font-size: 20px;
        margin-top: 14px;
    }
    .bg_txt > h5 {
        font-size: 15px;
        padding-top: 10px;
    }
    .bg_txt {
        padding-top: 31px;
    }
    li {
        font-size: 15px;
        padding-bottom: 18px;
    }
    li span {
        padding-left: 11px;
    }
    .bucket {
        right: -38%;
        top: 43%;
    }
    .bucket > img {
        width: 70%;
    }
    .form_header {
        padding-bottom: 1px;
        padding-top: 1px;
    }
    .form1 {
        padding: 13px 29px 9px 26px;
    }
    .form2 {
        padding: 0 29px 9px 26px;
    }
    .form3 {
        padding: 0 29px 9px 26px;
    }
    .form4 {
        padding: 0 29px 10px 26px;
    }
    .form5 {
        padding: 0 29px 17px 28px;
    }
    .form_header > h4 {
        font-size: 14.56px;
    }
    .form_header > h2 {
        font-size: 21.78px;
    }
    .form_btn {
        position: absolute;
        right: 10%;
        top: 97%;
        z-index: 1;
    }
    .btn1 {
        padding-left: 0;
    }
    .btn1 > input {
        padding-bottom: 37px;
        padding-left: 123px;
        padding-right: 123px;
    }
    .white_pad {
        padding: 0 12px;
    }
    .col-md-12.crn_pad {
        margin-bottom: 18px;
        margin-top: 9px;
        padding: 0;
    }
    .container.crn_padd {
        padding: 0 11px;
    }
    .footer_pad {
        padding: 0 13px;
    }
    .col-sm-6.pad_void2 {
        padding-left: 28px;
    }
    .list img {
        padding-right: 0;
        width: 6%;
    }
    .bg_txt > img {
        top: 99px;
    }
    .serv1 > h2 {
        font-size: 20px;
    }
    .serv > img {
        padding-top: 62px;
    }
    .serv {
        padding-bottom: 20px;
    }
    .serv_txt > h3 {
        font-size: 24.47px;
    }
    .crane_dtls > h3 {
        font-size: 24px;
    }
    .footer_txt_lft > h5 {
        font-size: 14px;
    }
    .footer_btn > input {
        padding: 20px 110px;
    }
    .copy_pad {
        padding: 0 13px;
    }
    .footer_txt_rht > h3 {
        font-size: 25px;
    }
    .copy > p {
        font-size: 14px;
    }
    .btn-group-sm > .btn,
    .btn-sm {
        border-bottom: 2px solid #c9302c;
        font-size: 21px;
        padding: 16px 4px;
    }
    .btn-group-xs > .btn,
    .btn-xs {
        padding: 19px 15px;
    }
<<<<<<< HEAD
=======
    .btn1 {
        padding-left: 41%;
         display: inline;
    }
>>>>>>> origin/gh-pages
    .btn-group-lg > .btn,
    .btn-lg {
        font-size: 15px;
        padding: 19px 10px;
    }
    .btn-warning {
        padding: 16px;
    }
    .footer_btn {
        float: left;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .logo_txt > h3 {
        font-size: 26.46px;
    }
    .logo_img {
        float: none;
        padding-top: 5px;
        text-align: center;
    }
    .logo_txt {
        text-align: center;
    }
    .logo_txt > h5 {
        font-size: 17.08px;
    }
    .logo_txt > p {
        font-size: 13px;
        padding-bottom: 78px;
    }
    .pad_void {
        width: 100%;
    }
    .logo_contact > h6 {
        font-size: 18px;
    }
    .logo_contact > h1 {
        font-size: 30px;
    }
    .logo_right_area {
        left: 29px;
        position: absolute;
        right: 0;
        top: 237px;
    }
    .logo_contact {
        text-align: center;
    }
    .bg_txt > h1 {
        font-size: 16px;
    }
    .bg_txt > h3 {
        font-size: 15px;
    }
    .bg_txt {
        padding-top: 0;
        padding-left: 15%;
    }
    .bg_txt > h5 {
        font-size: 15px;
        padding-top: 8px;
    }
    .bucket {
        text-align: center;
        position: static!important;
    }
    ul {
        padding-bottom: 0;
        padding-left: 15%;
    }
    li span {
        font-weight: 700;
    }
    .list img {
        width: 7%;
    }
    li {
        font-size: 15px;
    }
    .bg_txt > img {
        display: none;
    }
    .col-sm-6.pad_void2 {
        padding-top: 43px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .col-sm-6.pad_void2 {
        width: 100%;
    }
    .form5 {
        padding: 0 29px 37px 28px;
    }
    .white_pad {
        padding: 0 37px;
    }
    .btn1 > input {
        padding-bottom: 40px;
        padding-left: 98px;
        padding-right: 146px;
    }
    .form_btn {
        padding-bottom: 31px;
        position: static;
        text-align: center;
    }
    .btn-group-lg > .btn,
    .btn-lg {
        font-size: 19px;
        padding: 13px 9px;
    }
    .btn-warning {
        padding: 13px 10px
    }
    .btn1 {
        display: inline;
        margin-right: -4px;
    }
    .btn2 {
        position: static;
        display: inline;
    }
    .serv1 > h2 {
        font-size: 23px;
        padding-top: 21px;
        text-align: center;
    }
    .serv_txt > h3 {
        font-size: 19.47px;
    }
    .crane_dtls > h3 {
        font-size: 16px;
        text-align: center;
    }
    .footer_txt_lft > h5 {
        font-size: 12px;
        text-align: center;
    }
    .footer_txt_rht {
        text-align: center;
    }
    .btn-group-xs > .btn,
    .btn-xs {
        font-size: 12px;
        padding: 7px 9px;
    }
    .btn-group-sm > .btn,
    .btn-sm {
        font-size: 13px;
        padding: 10px 9px;
        border: 1px solid #c9302c;
    }
    .copy > p {
        font-size: 13px;
        text-align: center;
    }
    .footer_btn_grp {
        text-align: center;
        padding-bottom: 22px;
    }
    .footer_btn {
        text-align: center;
        float: none;
        margin-right: 0px;
    }
    .footer_btn > input {
        padding: 20px 113px;
    }
}
